<div id="wrapper">
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Times</h1>
            </div>
        </div>
        <% times.each do |time| %>
	    <div class="list-group">
    	      <a href="/times/<%= time['uuid'] %>" class="list-group-item"><%= time['user'] %> <b>submitted: </b><%= time['duration'] %> <b> to: </b><%= time['project'][0] %><b> on: </b><%= time['date_worked'] %></a>
        <% end %>
    	</div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->